body, html {
  background: linear-gradient(to left, rgb(202, 175, 175), rgb(143, 150, 204));
  
}
.navbar {
  background-color: burlywood;
}

#selfie {
  width: 200px;
  height: 200px;
  padding: 10px;
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: burlywood;
}

footer a {
  padding-left: 1.5em;
  padding-right: 1.5em;  
}

@media only screen and (max-width: 576px) {
  img {
      display: flex;
      margin: 0 auto;
      width: fit-content;
      
      float: none !important;
      justify-content: center;
  }
  h1 {
     text-align: center;
  }
  .newClass {
      
      display: flex;
      flex-direction: column;
  }
  
}

@media only screen and (min-width: 577px) {
  img {
      float: left;
  }
}